{% extends "layout.html" %}

{% block title %}
Homepage
{% endblock %}

{% block main %}
<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5">
                    <div class="text-container">
                        <h1>College Recommendation System for Engineering Admission</h1>
                        <p class="p-large poppins">Use Dronacharya to automate the tedious process of finding colleges through pdf containing thousands of pages</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                        <div class="img-wrapper">
                            <img class="img-fluid main-img" src="static/main.PNG" alt="alternative">
                        </div> <!-- end of img-wrapper -->
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310"><defs><style>.cls-1{fill:#5f4def;}</style></defs><title>header-frame</title><path class="cls-1" d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z"/></svg>
<!-- end of header -->




<!-- Description -->
<div class="cards-1  poppins">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="above-heading">DESCRIPTION</div>
                <h2 class="h2-heading">Searching Automation Will Bring More Robust Options</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="static/university.png" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Pre-eminent Universities</h4>
                        <p>Finest Universities you can get according to obtained marks of JEE and MHT-CET.</p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <br><br>
                        <img class="img-fluid" src="static/fields.png" alt="alternative">
                        <br><br>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Choice of Fields</h4>
                        <p>Provides undistractive lists of any field/fields by eliminating information overload.</p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="static/location.jpeg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Location Choice</h4>
                        <p>Suggested colleges will only be within radius provided by user helps in shortlisting and providing on imparative results.</p>
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of description -->


<!-- Abstract -->
<div id="features" class="tabs">
    <div class="container">
        <div class="row poppins">
            <div class="col-lg-12">
                <div class="above-heading poppins">ABSTRACT</div>
                <h2 class="h2-heading poppins">How can DRONACHARYA help you?</h2>
                <p class="p-heading poppins">Every year lakhs of junior college students pass their H.S.C and enter engineering colleges. While going through admission procedure student need to enter some minimum count of colleges in which he might have a chance to get admission. Because of this a candidate needs to prepare a list of colleges in which he/she intends to get admission. This task of list generation requires a large amount of manually searching, comparing different prospects of colleges.<br><br> Goal of this project was to automate this college list generation. Aim was to reduce all this manual working by making a system which can effectively and efficiently generate a list of colleges in which candidate is eligible based on official database provided by government. Recommendation systems solve the problem of <i>"Information Overload"</i> of searching through large volumes of data.</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div>
</div>
        
<!-- Pricing -->
<div id="pricing" class="cards-2 poppins">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="above-heading">Features</div>
                <h2 class="h2-heading">Criterias of Shortlisting colleges</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card-->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">FIRST</div>
                        <div class="price"><span class="value">Marks</span></div>
                        <div class="frequency">THRESHOLD</div>
                        <div class="divider"></div>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Accepts JEE Marks</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Accepts MHT-CET Marks</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Suggests Colleges Less Than Threshold</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">100% Accurate</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Implemented</div>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->

                <!-- Card-->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">SECOND</div>
                        <div class="price"><span class="value">Branch</span></div>
                        <div class="frequency">THRESHOLD</div>
                        <div class="divider"></div>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">All Colleges (Around 1221 Colleges of Maharastra)</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Only Top Branches</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Single Branch Input</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Multiple Branch Input</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Implemented</div>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->

                <!-- Card-->
                <div class="card">
                    <!--<div class="label">
                        <p class="best-value">Best Value</p>
                    </div> -->
                    <div class="card-body">
                        <div class="card-title">THIRD</div>
                        <div class="price"><span class="value">Location</span></div>
                        <div class="frequency">THRESHOLD</div>
                        <div class="divider"></div>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Preffered Location Input</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Tracks Your Location Precisely</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Custom Threshold Radius</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Suggests Colleges in Thresholded Radius</div>
                            </li>
                            <li class="media" id="contact">
                                <i class="fas fa-times"></i><div class="media-body">Implemented (Coming Soon)</div>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of pricing -->


<!-- Social -->
<div class="form">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="icon-container">
                    <span class="fa-stack">
                        <a href="https://www.facebook.com/harsh.devmurari.790/" target="blank">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://github.com/Harsh19012003" target="blank">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://discordapp.com/users/752480638262575104/" target="blank">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-discord fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#" target="blank">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-youtube fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://web.telegram.org/z/#1071307919" target="blank">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-telegram fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://www.instagram.com/harshdevmurari007/" target="blank">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://www.linkedin.com/in/harsh-devmurari-bb436621b/" target="blank">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-linkedin-in fa-stack-1x"></i>
                        </a>
                    </span>
                </div> <!-- end of col -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form -->
<!-- end of social -->


{% endblock %}

