{% extends "layout.html" %}

{% block title %}
suggestions
{% endblock %}

{% block metacontent %}
<meta name="description" content="Conquer your Engineering journey! Dronacharya's AI simplifies college admissions. Sign up and get matched to your perfect program based on JEE/CET & preferences." />
<meta name="keyword" content="college cutoff list, college cutoff 2023, college cutoff jee, college cutoff cet, engineering college cutoff list, cutoff 2023" />
{% endblock %}

{% block main %}
    <h1>Best college suggestions_</h1>
    <br>
    <div class="m-5"><!--table-responsive-->
        <table class="table-content"><!--table table-bordered table-dark table-responsive table-hover-->
            <thead>
                <th>Cutoff</th>
                <th>Institute Name</th>
                <th>Branch</th>
                <th>Exam</th>
                <th>More</th>
            </thead>
            {% for row in clg_list %}
            <tr>
                <td>{{ row[1] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td><a href="http://www.google.com/search?q={{ row[3] }}" target="blank">link</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}